<%- include("../partials/header") %>

    <div class="container">
        <h4>Welcome to the countdown room</h4>
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to RealCountdown</h1>
                <% if(currentUser && currentUser.isAgent){ %>
                    <p>Here are all the houses in our database</p>
                    <h1><%=currentUser.username %> is an agent</h1>
                 <% } %>
                
                 <div class="row">
                    <% if(currentUser && (currentUser.isAgent === false)){ %>
                        <p>
                            <a class="btn btn-primary btn-large" href="/users/<%= currentUser.id %>">View your bids</a>
                        </p>
    
                     <% } %>
                    
                    <p>
                        <a class="btn btn-primary btn-large" href="/homes/new">Add new home</a>
                    </p>
                    <p>
                        <a href="/buyers" class="btn btn-primary btn-large">Buyers click here</a>
                    </p>

                    <p>
                        <a href="/agents" class="btn btn-primary btn-large">View Agents</a>
                    </p>
                    

                 </div>
                 <div id="searchbar" class="row">
                    <form action="/homes" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Search for home" class="form-control">
                            <input type="submit" value="Search" class="btn btn-default">
                        </div>
                    </form>
                </div>

            </div>
        </header>
       

      <div class="row text-center">
          <div class="col-md-6">
              <% if(noMatch !== undefined) { %>
                  <h4><%= noMatch %></h4>
             <% } %>
          </div>
      </div>
           

            <ul id="index-card">
                <% homes.forEach(function(home){ %>
                <div id="icard">
                    <li class="card">
                        <div class="d-flex justify-content-start">
                            <img class="pic" src="<%=home.Image %>" alt="" height="100%" width="100%">
                        </div>
                        
                            <a href="/homes/<%=home._id%>" id="view-bid" class="btn btn-primary btn-sm">Details</a>
                       
                        <p id="par-card"><%= home.author.username %> house is in the <%= home.city %> area</p>

                        <p id="sell-amount">House For sale: <br> <span>$<%= home.price %></span></p>

                        
                            <% var tmp = 10; %>
                            <% home.bids.forEach(function(bid){ %>
                            
                             <%if(bid.rate < tmp){ %>
                                 <% tmp = bid.rate %>
                             <% } %>                            
                             
                            
                            <% }) %>

                            <% if(tmp < 10){ %>
                                <p id="bid-rate">Lowest Bid is: <%= tmp %>%</p>
                            <% } %>
     
                           

                       
                        <div id="status">
                            <p>Time Remaining</p>

                           

                           <% var countDownDate = home.countdown %>
                            
                           <% var now = new Date().getTime(); %>
                            
                           <% var distance = countDownDate - now; %>

                           <% var days = Math.floor(distance / (1000 * 60 * 60 * 24)); %>
                           <% var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)); %>
                           <% var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); %>
                           <% var seconds = Math.floor((distance % (1000 * 60)) / 1000); %>
                           <% var timeRemaining = (days - 29) + "d " + hours + "h " + minutes + "m " + seconds + "s "; %>





                          
                            <p><%= timeRemaining %></p>
                            <p>Ends <%= home.expiredDate %></p>
                            <p>sept 3 2020</p>
                        </div>
                        
                    </li>
                    

                </div>

                <% }); %>

            </ul>
            

               
                
        
      

         

      

            


       


    

    </div>
<%- include("../partials/footer") %>