<%- include("../partials/header") %>

    <div class="container">
        <h4>Welcome to the countdown room</h4>
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to RealCountdown</h1>
                <% if(currentUser && currentUser.isAgent){ %>
                    <p>Here are all the houses in our database</p>
                    <h1><%=currentUser.username %> is an agent</h1>
                 <% } %>
                 
                 <div class="row">
                    <% if(currentUser && (currentUser.isAgent === false)){ %>
                        <p>
                            <a class="btn btn-primary btn-large" href="/users/<%= currentUser.id %>">View your bids</a>
                        </p>
    
                     <% } %>
    
                    <p>
                        <a class="btn btn-primary btn-large" href="/homes/new">Add new home</a>
                    </p>

                 </div>

                

                




            </div>
        </header>
      
           

            <ul id="index-card">
                <% homes.forEach(function(home){ %>
                <div id="icard">
                    <li class="card">
                        <div class="d-flex justify-content-start">
                            <img class="pic" src="<%=home.Image %>" alt="" height="100%" width="100%">
                        </div>
                        
                            <a href="/homes/<%=home._id%>" id="view-bid" class="btn btn-primary btn-sm">Details</a>
                       
                        <p id="par-card"><%= home.author.username %> wants to sell his house for</p>
                        
                    </li>
                    

                </div>

                <% }); %>

            </ul>
            

               
                
        
      

         

      

            


       


    

    </div>
<%- include("../partials/footer") %>