<%- include("../partials/header") %>

<div class="container">

    <h1>Home Owner: <%= home.author.username %></h1>


<img src="<%= home.Image%>" alt="">

<h2><%= home.address %></h2>

<p><%= home.description %></p>
<p> <em>Submitted by <a href="/users/<%= home.author.id %>"><%= home.author.username %></a></em></p>

<% if(currentUser && home.author.id.equals(currentUser._id)){ %>
<a class="btn btn-warning" href="/homes/<%=home._id%>/edit">EDIT</a>
<form id="delete-form" action="/homes/<%=home._id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>
<% } %>

<% if(currentUser && currentUser.isAgent){ %>
    <a class="btn btn-success" href="/homes/<%=home._id%>/bids/new">Bid</a>
<% } %>

<table id="bid-table" class="table table-borderless table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="border-top-left-radius: 25px;" scope="col">Agent username</th>
            <th style="border-top-right-radius: 25px;" scope="col">Bid Rate</th>
        </tr>
    
    </thead>
    <tbody>
         <%home.bids.forEach(function(bid){ %>
            
        <tr>
                    <td><a href="/users/<%= bid.author.id %>"><%= bid.author.username%> </a></td>
                    <td><%= bid.rate %></td>
        </tr>
    <% }) %>
    </tbody>

</table>
    







   




</div>


<%- include("../partials/footer") %>