<%- include("../partials/header") %>


<div class="container">
    <div class="row">
        <div class="column" id="agent-table">
            <h1>Seller</h1>
        </div>
        <div class="column" id="agent-table">
            <h1>Agent</h1>
        </div>
    </div>
    <div class="row">
        <div class="column" id="agent-table">
            <img id="agent-pic" src="<%= currentUser.image%>" alt="...">
        </div>
        <div class="column" id="agent-table">
            <img id="agent-pic" src="<%= agent.image %>" alt="">
        </div>
    </div>

    <div class="row">
        <div class="column">
            <p>Name: <%= currentUser.name %></p>
        </div>
       
    </div>
 
        <a class="btn btn-success" href="/agents/<%=agent._id%>/new">Bid</a>
        <a href="/agents/<%=agent._id%>/reviews/" class="btn btn-success">Reviews</a>
  
  
    
</div>


<%- include("../partials/footer") %>