<%- include("../partials/header") %>

<div class="container" id="profile-container">
    <img class="img-thumbnail" src="<%= user.image %>" alt="">
    <h1 id="profile-username"><%=user.username %></h1>

</div>
<div class="container">
    <p><%=user.name %></p>
    <p><%=user.lastname %></p>
    <p><%=user.phoneNumber %></p>
    <p><%=user.email %></p>
    <p> agentsavings = <%=user.agentSavings%>%</p>
    
</div>

<div class="container">
<a href="/users/<%= user._id %>/agentsavings">Edit Savings</a>
</div>




<%- include("../partials/footer") %>